*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #808080;
}
.logo{
    display: flex;
    background-size: cover;
    background-position: center;
    height: 95%;
    width: 20%;
    margin: .5rem;
    margin-right: 10%;
}
.navegador{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10vh;
    border-bottom: solid 2px black;
}
.navegador>a{
    text-align: center;
    width: 10rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #191919;
    background-color: black;
    margin: .1rem;
    color: white;
    border: solid 1px black;
    border-radius: .5rem;
    text-shadow: 2px 2px 5px white;
}
a:hover{
    border-radius: .5rem;
    color: black;
    font-weight: 800;
    border: solid 2px black;
    background-color: white;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    min-height: 16vh;
    width: 100%;
    border-bottom: solid 2px black;
}
h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px white;
    font-size: 3.5rem;
    text-decoration: underline;
}
h1:hover{
    text-align: center;
    background-color: #191919;
    color: white;
    width: 15%;
    font-weight: 400;
    border-radius: 8%;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
}
.lista{
    display: flex;
    min-height: 63vh;
    flex-direction: column;
}
th, td{
    width: 35%;
    border: solid 2px black;
}
form{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    min-height: 5vh;
}
.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
fieldset{
    width: 50%;
}
.texto_mensaje2{
    height: 10rem;
    width: 75%;
}
.texto_mensaje1{
    height: 1.5rem;
    width: 45%;
}
label{
    font-weight: 800;
    font-size: 1.4rem;
    padding: .5rem;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 63vh;
    gap: 1rem;
}
h2{
    margin: .5rem;
    color: black;
    font-weight: 700;
    background-color:#191919;
}
p{
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border: solid 2px white;
    margin: .4rem;
    color: #191919;
    background-color: #4d4d4d;
}
.card{
    display: flex;
    flex-direction: column;
    min-height: 24rem;
    width: 17rem;
    margin: 2rem;
    text-align: center;
    box-shadow: 5px 5px 30px 5px white;
    border-radius: 2.0rem;
    font-weight: 500;
    border: solid 2px black;
    background-color:#191919;
}
.texto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 100%;
    background-color:#4d4d4d;
    border-radius: 2rem;
}
button{
    border: solid 2px black;
    font-weight: 900;
    width: 7rem;
    border-radius: .5rem;
    background-color: #808080;
}
button:hover{
    border-radius: .5rem;
    box-shadow: 2px 2px 1px 1px black;
    height: 2.5rem;
    background-color: white;
    color: black;
}
.img-card{
    border-radius: 2rem;
    margin: 1rem;
    height: 40%;
    width: 85%;
    box-shadow: 1px 1px 1px 1px grey;
}

footer{
    display: flex;
    gap: 1.5rem;
    min-height: 6vh;
    justify-content: space-around;
    align-items: center;
    border-top: solid 2px black;
}
@media screen and (max-width: 1024px){
    .form{
        flex-wrap: wrap;
        width: 100%;
    }
    .logo{
        width: 25%;
        height: 50%;
    }
}
@media screen and (max-width: 768px){
    .titulo{
        justify-content: center;
        min-height: 20vh;
    }
    .navegador{
        flex-wrap: wrap;
    }
    .logo{
        height: 50%;
        width: 20%;
    }
    a{
        padding: .4rem;
    }
    form{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}